.FAQ{
    width: 100%;
    margin-top: 50px;
    height: 100%;
    font-family: 'Montserrat';
    background-color: white;
    flex-direction: column;
    display: flex;
    justify-content: space-around;
}

.FAQ .heading{
    display: flex;
    gap: 10px;
    align-items: center;
    color: #252B42;
    flex-direction: column;
}
.FAQ .heading p{
    width: 600px;
    text-align: center;
}

.questions {
    width: 100%;
    height: auto; /* Adjust height as needed */
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    gap: 10px; /* Space between cards */
    place-items: center;
    padding: 20px; /* Optional padding around the grid */
}

.question-card {

    display: flex;
    height: 200px;
    flex-direction: column;
    background-color: white;
    border: 1px solid gray;
    border-radius: 8px;
    gap: 10px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.question-card p {
    word-wrap: break-word;
    color:#737373

}

@media(width <= 920px){
    .questions{
    grid-template-columns: repeat(2, 1fr); /* 3 columns */

    }
}
@media(width <= 650px){
    .questions{
    grid-template-columns: repeat(1, 1fr); /* 3 columns */

    }
    .question-card{
        height: auto;
    }

    .FAQ .heading p{
        width: auto;
    }

}